@import "autovariables";
body {
  font-family: $font-primary;
  margin: 0;
  background: $gray-lighter;
  color: $text-color;
  overflow: hidden;
}

body, html {
  @extend .base;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 { @extend .h1;
  font-family: $font-secondary; }
h2 { @extend .h2;
  font-family: $font-primary; line-height: 1.2em; }
h3 { @extend .h3;
  font-family: $font-primary; }
h4 { @extend .h4;
  font-family: $font-secondary; }
h5 { @extend .h5;
  font-family: $font-primary; }
h6 { @extend .h6;
  font-family: $font-primary; }

a {
  @include noselect();
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &.active {
    color: $link-active-color;
  }
}
.center-img {
  position: relative;
  width: 160px;
  height: 94px;
  overflow: hidden;
  img {
    width: 160px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.top-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  z-index: 1000;
  &:hover {
    a {
      padding: 12px 0 !important;
    }
  }
  .back {
    display: block;
    background: #585852;
    padding: 5px 0;
    width: 100%;
    color: #a7a79c;
  }
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.leanback {
  * {
    cursor: none;
  }
}
.dropdown-menu-btn {
  @include noselect();
}
