- var mainMenuActiveIndex = -1;
- var brandName = locals.data.title;
- var pageTitle = brandName;
- var letters = locals.data.letters
- var IMAGE_PATH = "assets/images/";
- var acc = locals.acc;
doctype html
html
  head
    include partials/header
  body
    .pages
      .home.page
        include pages/home
      .quiz.page
        include pages/quiz

    script(type="text/javascript", src="assets/js/main.js" async)
