- var mainMenuActiveIndex = -1;
- var brandName = "ΓΝΩΡΙΖΟΝΤΑΣ ΤΗ ΜΟΥΣΙΚΗ ΚΑΙ ΧΟΡΕΥΤΙΚΗ ΠΑΡΑΔΟΣΗ ΤΗΣ ΚΡΗΤΗΣ";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
  body
    .quiz
      header
        .container
          .col-md-12
            .score
              span.score-name ΒΑΘΜΟΛΟΓΙΑ&nbsp;&nbsp;
              span.score-value 1 / 20
      .container
        .left-panel
          h4.question-heading
            span.question-name ΕΡΩΤΗΣΗ
            span.question-value (7/20)
          .question Ποιός μουσικός από τους παρακάτω έπαιζε λαούτο
          ul.answers
            each item in ["Α. Νικόλαος Χάρχαλης", "Β. Κωνσταντίνος Παπαδάκης ή Ναύτης", "Γ. Νικόλαος Τσέγκας", "Δ. Μιχάλης Κουνέλης", "Ε. Γιώργος Κουτσουρέλης"]
              li
                a(data-toggle="popover" data-content="And here's some amazing content. It's very engaging. Right?")=item

        .right-panel
          .image-container
            img(src="assets/images/Q7.jpg")

    script(type="text/javascript", src="assets/js/main.js" async)
