- var mainMenuActiveIndex = -1;
- var brandName = "ΓΝΩΡΙΖΟΝΤΑΣ ΤΗ ΜΟΥΣΙΚΗ ΚΑΙ ΧΟΡΕΥΤΙΚΗ ΠΑΡΑΔΟΣΗ ΤΗΣ ΚΡΗΤΗΣ";
- var pageTitle = brandName;
- var answers = [{name: "Α. Νικόλαος Χάρχαλης", img:"xarxalis-nikolaos.jpg"}, {name: "Β. Κωνσταντίνος Παπαδάκης ή Ναύτης", img:"papadakis-kostas.jpg"}, {name: "Γ. Νικόλαος Τσέγκας", img:"tsagas-nikolaos.jpg"}, {name: "Δ. Μιχάλης Κουνέλης", img:"kounelis-mixalis.jpg"}, {name: "Ε. Γιώργος Κουτσουρέλης", img:"koytsourelis-giorgos.jpg"}];
doctype html
html
  head
    include partials/header
  body
    .quiz
      header
        .container
          .col-md-12
            .score
              span.score-name ΒΑΘΜΟΛΟΓΙΑ&nbsp;&nbsp;
              span.score-value 1 / 20
      .container
        .left-panel
          h4.question-heading
            span.question-name ΕΡΩΤΗΣΗ
            span.question-value (7/20)
          .question Ποιός μουσικός από τους παρακάτω έπαιζε λαούτο
          ul.answers
            each answer in answers
              li
                - var img="assets/images/"+answer.img;
                a(data-toggle="popover" data-content="<img src=\"#{img}\">")=answer.name

        .right-panel
          .image-container
            img(src="assets/images/Q7.jpg")

    script(type="text/javascript", src="assets/js/main.js" async)
