- var mainMenuActiveIndex = -1;
- var brandName = "ΓΝΩΡΙΖΟΝΤΑΣ ΤΗ ΜΟΥΣΙΚΗ ΚΑΙ ΧΟΡΕΥΤΙΚΗ ΠΑΡΑΔΟΣΗ ΤΗΣ ΚΡΗΤΗΣ";
- var pageTitle = brandName;
- var answers = [{name: "Νικόλαος Χάρχαλης", img:"xarxalis-nikolaos.jpg"}, {name: "Κωνσταντίνος Παπαδάκης ή Ναύτης", img:"papadakis-kostas.jpg"}, {name: "Νικόλαος Τσέγκας", img:"tsagas-nikolaos.jpg"}, {name: "Μιχάλης Κουνέλης", img:"kounelis-mixalis.jpg"}, {name: "Γιώργος Κουτσουρέλης", img:"koytsourelis-giorgos.jpg"}];
- var letters = ['α','β','γ','δ','ε','ζ','η','θ','ι','κ','λ','μ','ν','ξ','ο','π','ρ','σ','τ','υ','φ','χ','ψ','ω']
doctype html
html
  head
    include partials/header
  body
    .quiz
      header
        .container
          .col-md-12
            .score
              span.score-name ΒΑΘΜΟΛΟΓΙΑ&nbsp;&nbsp;
              span.score-value 1 / 20
      .container
        .left-panel
          h4.question-heading
            span.question-name ΕΡΩΤΗΣΗ
            span.question-value (7/20)
          .question Ποιός μουσικός από τους παρακάτω έπαιζε λαούτο
          ul.answers
            each answer,index in answers
              li
                - var img="assets/images/"+answer.img;
                a(data-content="<img src=\"#{img}\">")=letters[index].toUpperCase()+". "+answer.name

        .right-panel
          .image-container
            img(src="assets/images/Q7.jpg")

    script(type="text/javascript", src="assets/js/main.js" async)
